.hr-tag{
    border: 1px solid #FF6D17;
    margin-top: 5px ;
    opacity: 100%;
    border-radius: 2px;
    margin-left: 17rem;
    margin-right: 17rem;
}
.item_bar{
    background-color: #24363B;
    
    border-bottom: rgb(175, 175, 175) solid .001rem;
}
.spec_title{
    border-bottom: rgb(175, 175, 175) solid .001rem;
}
.bg-list{
    background-color: #3B5C65;
}
.bg-filter{
    background-color: #24363B;
    
}
.empty_Space{
    height: 100vh;
    background-color: #24363B;

}
.DM {
    width: 100%;
    margin-left: 0px;
    margin-right: 0% !important;
}