<div class="container-fluid text-light">
    <div class="row py-4">
        <div class="col-2"></div>
        <div class="col-10 text-center">
            <h1>PC Building</h1>
            <hr class="hr-tag">
        </div>
    </div>
    <div class="row">
        <div class="col-2 m-0">
            <!--Filter-->
            <div class="row bg-filter">
                <div class="col-12 bg-danger p-0">
                    <div class="d-inline-block w-100" ngbDropdown #myDrop="ngbDropdown">
                        <button class="btn btn-danger DM text-start" id="dropdownManual" ngbDropdownAnchor
                            (focus)="myDrop.open()">Select Part</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownManual" class="DM text-center">
                            <button class="w-100" ngbDropdownItem>Action - 1</button>
                            <button ngbDropdownItem>Another Action</button>
                            <button ngbDropdownItem>Something else is here</button>
                        </div>
                    </div>
                </div>
                <div class="col-12">

                    <app-motherboard-filter></app-motherboard-filter>

                </div>
            </div>
            <!--empty Space-->
            <div class="row empty_Space">

            </div>
        </div>
        <div class="col-10">
            <!--Body-->
            <div class="row bg-list">
                <div class="col-12">
                    <div class="row pt-5">
                        <div class="col-6 ">
                            <h2>
                                Motherboard
                            </h2>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <div class="row">
                                <div class="col-2">
                                    <i class="fav fa-500px"></i>
                                </div>
                                <div class="col-10">
                                    <input class="form-control form-control-lg" type="text" placeholder="Search"
                                        aria-label=".form-control-lg example">
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <hr>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="row">
                        <div class="spec_title col-3">
                            <div class="row">
                                <div class="col-4"></div>
                                <div class="col-8">
                                    <b>Name</b>
                                </div>
                            </div>
                        </div>
                        <div class="spec_title col-2">Manufacturer</div>
                        <div class="spec_title col-1">Cores</div>
                        <div class="spec_title col-1">GHz</div>
                        <div class="spec_title col-2">Threads</div>
                        <div class="spec_title col-3">Price</div>
                    </div>
                    <!--//Item-->
                    <div class="row item_bar py-3 d-flex align-items-center">
                        <div class=" col-3">
                            <div class="row">
                                <div class="col-4">
                                    Image here
                                </div>
                                <div class="col-8">
                                    Ryzen 5G ultra fart
                                </div>
                            </div>
                        </div>
                        <div class="col-2">Manufacturer</div>
                        <div class="col-1">8</div>
                        <div class="col-1">3.8GHz</div>
                        <div class="col-2">16</div>
                        <div class="col-3">
                            <div class="row">
                                <div class="col-3 d-flex align-items-center">
                                    $349.99
                                </div>
                                <div class="col-9 d-flex justify-content-end">
                                    <div class="btn btn-primary"><b>Add to list</b></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--//Item-->

                </div>



            </div>
        </div>
    </div>
</div>