<div class="contianer-fluid text-light container-overflow gamingBuildHeroBG MitirFont">
    <div class="row">
        <div class="col-lg-6 col-12 text-lg-end text-center">
            <h1 class="HeroTitle">Office Build</h1>
        </div>
    </div>
    <div class="row ">
        <!--Left Side-->
       <div class="col-12 col-lg-6">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="../../../assets/images/OfficeBuild.png" alt=""   class="Parts">
                </div>
            </div>
       </div>
       <!--Right Side-->
       <div class="col-lg-6 col-12">
        <div class="container">
            <div class="row HeroCard_Top py-2">
                <div class="col-6">
                    <h2>Quick <span class="Text-Orange">Specification</span></h2>
                </div>
                <div class="col-6 d-flex justify-content-end">
                    <app-hollow-btn BtnText="Buy Now!"></app-hollow-btn>
                </div>
            </div>
            <div class="row HeroCard_Bottom py-3">
                <div class="col-12">
                    <h3>
                        CPU : AMD Athlon 200GE
                    </h3>
                    <h3>
                        Motherboard : ASRock B450M-HDV R4.0 Micro ATX AM4 Motherboard
                    </h3>
                    <h3>
                        Memory : Patriot Viper 4 8 GB (2 x 4 GB) DDR4-3000 CL16 Memory
                    </h3>
                    <h3>
                        Case : 	Cooler Master MasterWatt 550 W 80+ Bronze Certified Semi-modular ATX Power Supply
                    </h3>
                    <h3>
                        Storage : Acer SA100 480 GB 2.5" Solid State Drive
                    </h3>
                    <h3>
                        Corsair CXM (2015) 450 W 80+ Bronze Certified Semi-modular ATX Power Supply
                    </h3>
                    <h3>
                        Optical Drive : Asus DRW-24B1ST/BLK/B/AS DVD/CD Writer
                    </h3>
                </div>
            </div>
        </div>
        <div class="container mt-4">
            <div class="row HeroCard_Top py-2">
                <div class="col-12">
                    <h2><span class="Text-Orange">Special</span> From Us!</h2>
                </div>
            </div>
            <div class="row HeroCard_Bottom py-2 mb-4">
                <div class="col-12">
                    <p>We offer an easy to follow, comprehensive guide to build this computer at home! Check it out <a class="Orange-link"  href="">here.</a></p>
                </div>
            </div>
        </div>
       </div>
       
    </div>
</div>
<div class="container-fluid text-light pt-4 MitirFont">
    
    <!--Part Description-->
    <app-parts-description OrderNum="" Title="CPU : AMD Athlon 200GE" Desc="Our CPU of choice for this home/office machine is the AMD Athlon 200GE. This processor has two cores, onboard graphics, and is aptly suited for all software in the Microsoft Office suite or the comparable open source offerings. The Athlon 200GE includes a stock cooler, so 3rd-party cooler is not necessary." Img="../../../assets/images/OfficeBuild/CPU.jpg"></app-parts-description>
    <app-parts-description OrderNum="1" Title="Motherboard : ASRock B450M-HDV R4.0 Micro ATX AM4 Motherboard" Desc="We're using a parametric selection of motherboards which will show the best priced motherboard based on our specifications. All of the motherboards feature the B450 chipset and an AM4 socket for compatibility with the Athlon 200GE. They also include 2 DIMM slots for up to 32GB of DDR4 RAM and are capable of using the CPU's integrated Radeon Vega 3 which is important for our office build as we will not be adding a dedicated graphics card." Img="../../../assets/images/OfficeBuild/Motherboard.png"></app-parts-description>
    <app-parts-description OrderNum="" Title="Memory : Patriot Viper 4 8 GB (2 x 4 GB) DDR4-3000 CL16 Memory" Desc="A parametric filter is being applied to choose the best priced 2x4GB kit of memory within AMD's recommended specifications. Ryzen scales well with memory frequency so we have upped the minimum speed to DDR4-2800." Img="../../../assets/images/OfficeBuild/Memory.png"></app-parts-description>
    <app-parts-description OrderNum="1" Title='Case : Cooler Master MasterWatt 550 W 80+ Bronze Certified Semi-modular ATX Power Supply' Desc="{{CaseDesc}}" Img="../../../assets/images/OfficeBuild/case.png"></app-parts-description>
    <app-parts-description OrderNum="" Title='Corsair CXM (2015) 450 W 80+ Bronze Certified Semi-modular ATX Power Supply' Desc="80 PLUS Bronze certified High efficiency operation for less excess heat and lower operating costs. Thermally Controlled Fan Silent operation at low and medium loads. Semi -Modular Make your builds and upgrades easy with clean great-looking results. Five year Your of reliable operation that will last across several system builds. Continuous output rated temperature-40°C." Img="../../../assets/images/OfficeBuild/PowerSupply.png"></app-parts-description>
    <app-parts-description OrderNum="1" Title='Storage : Acer SA100 480 GB 2.5" Solid State Drive' Desc="We're also using parametric filters to select the best priced 480GB or larger solid state drive. Everyone's needs are different, so feel free to change out capacities to fit yours or swap to a high capacity hard drive if storage space is more important." Img="../../../assets/images/OfficeBuild/Storage.png"></app-parts-description>
    <app-parts-description OrderNum="" Title="Optical Drive : Asus DRW-24B1ST/BLK/B/AS DVD/CD Writer" Desc="The AVRS technology is designed to minimize the vibration caused by the spindle motor and resonance between components as well as the drive and PC cases. AVRS is designed to reduce vibration and noise induced by unbalanced mass of rotating machinery. With AVRS, ASUS DRW-24B1ST provides high readability and playability." Img="../../../assets/images/OfficeBuild/Optical Drive.png"></app-parts-description>
    <!--Part Description-->
</div>
<img src="../../../assets/images/GamingBuild/" alt="">