<div class="container mt-5">
    <div class="row w-75 tabsRow">
        <div (click)="changeText(0)" class="col d-flex flex-column align-items-center">
            <hr>
            <p class="my-2">Processor</p>
        </div>
        <div (click)="changeText(1)" class="col d-flex flex-column align-items-center">
            <hr>
            <p class="my-2">MotherBoard</p>
        </div>
        <div (click)="changeText(2)" class="col d-flex flex-column align-items-center">
            <hr>
            <p class="my-2">Memory</p>
        </div>
        <div (click)="changeText(3)" class="col d-flex flex-column align-items-center">
            <hr>
            <p class="my-2">Graphics Card</p>
        </div>
        <div (click)="changeText(4)" class="col d-flex flex-column align-items-center">
            <hr>
            <p class="my-2">Case</p>
        </div>
        <div (click)="changeText(5)" class="col d-flex flex-column align-items-center">
            <hr>
            <p class="my-2">Storage Device</p>
        </div>
        <div (click)="changeText(6)" class="col d-flex flex-column align-items-center">
            <hr>
            <p class="my-2">Power Supply</p>
        </div>
    </div>
    <div class="row pt-4 contentRow">
        <div class="col-3">
            <div class="pictureSection">
                <img class="imageControl" src={{imageArray[arrayIndex]}} alt="Cool">
            </div>
        </div>
        <div class="col-9">
            <h4>{{descriptionArray[arrayIndex].partTitle}}</h4>
            <hr>
            <p>{{descriptionArray[arrayIndex].description}}</p>
        </div>
    </div>
</div>
