<div class="container mt-5">
    <div class="row w-75 tabsRow">
        <div (click)="changeText(i)" [ngClass]="{'selected' : descriptionArray[i].selected}"
            class="col d-flex flex-column align-items-center" *ngFor="let item of descriptionArray; index as i">
            <hr>
            <p class="my-auto">{{descriptionArray[i].partTitle}}</p>
        </div>
    </div>
    <div class="row pt-4 contentRow">
        <div class="col-3">
            <div class="pictureSection">
                <img class="imageControl" src={{descriptionArray[arrayIndex].imgPath}} alt="Cool">
            </div>
        </div>
        <div class="col-9">
            <h4>{{descriptionArray[arrayIndex].descTitle}}</h4>
            <hr>
            <p>{{descriptionArray[arrayIndex].description}}</p>
        </div>
    </div>
</div>