<div class="container-fluid text-light">
    <div class="row py-4">
        <div class="col-2"></div>
        <div class="col-10 text-center">
            <h1>You shouldnt be seeing this</h1>
            <hr class="hr-tag">
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <button (click)="getGraphicsCards()" class="btn btn-danger">Api Get</button>
            <button class="btn btn-danger mx-5">Api Post</button>
            <button class="btn btn-danger">Api Delete</button>
        </div>
    </div>
</div>