<div class="contianer-fluid text-light container-overflow gamingBuildHeroBG MitirFont">
    <div class="row">
        <div class="col-6 text-end">
            <h1 class="HeroTitle">Gaming Build</h1>
        </div>
    </div>
    <div class="row ">
        <!--Left Side-->
       <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <img src="../../../assets/images/Gaming_Parts.svg" alt="" class="" width="800rem" height="530rem">
                </div>
            </div>
       </div>
       <!--Right Side-->
       <div class="col-6">
        <div class="container">
            <div class="row HeroCard_Top py-2">
                <div class="col-6">
                    <h2>Quick <span class="Text-Orange">Specification</span></h2>
                </div>
                <div class="col-6 d-flex justify-content-end">
                    <app-hollow-btn BtnText="Buy Now!"></app-hollow-btn>
                </div>
            </div>
            <div class="row HeroCard_Bottom py-2">
                <div class="col-12">
                    <h3>
                        Processor : Intel(R) Core(TM) i7-4790K CPU @ 4.0GHz
                    </h3>
                    <h3>
                        Graphics Card : NVIDIA GeForce GTX 980
                    </h3>
                    <h3>
                        Motherboard : ASUSTeK Z97-E/USB3.1
                    </h3>
                    <h3>
                        RAM : Two 8GB DDR3
                    </h3>
                    <h3>
                        Storage : EVO 500GB SATA SSD
                    </h3>
                </div>
            </div>
        </div>
        <div class="container mt-4">
            <div class="row HeroCard_Top py-2">
                <div class="col-12">
                    <h2><span class="Text-Orange">Special</span> From Us!</h2>
                </div>
            </div>
            <div class="row HeroCard_Bottom py-2">
                <div class="col-12">
                    <p>We offer an easy to follow, comprehensive guide to build this computer at home! Check it out <a class="Orange-link"  href="">here.</a></p>
                </div>
            </div>
        </div>
       </div>
       
    </div>
</div>
<div class="container-fluid text-light pt-4 MitirFont">
    <div class="row d-flex justify-content-center pb-5">
        <div class="col-auto text-center Combo_Title mb-4">
            <h2>The Best Combo of Power to Simplicity</h2>
        </div>
            <div class="col-12 text-center">
                <p class="px-5 text-margin">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            </div>
    </div>
    <!--Part Description-->
    <app-parts-description OrderNum="" Title="Graphics Card: NVIDIA GeForce GTX 980" Desc="fjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash d" Img="../../../assets/images/GamingBuild/Gpu1.png"></app-parts-description>
    <app-parts-description OrderNum="1" Title="Processor: Intel(R) Core(TM) i7-6700K CPU @ 4.0GHz" Desc="fjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash d" Img="../../../assets/images/GamingBuild/MotherBoard ASUS.png"></app-parts-description>
    <app-parts-description OrderNum="" Title="Mother Board: ASUSTeK Z97-E/USB3.1" Desc="fjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash d" Img="../../../assets/images/GamingBuild/Pros2.png"></app-parts-description>
    <app-parts-description OrderNum="1" Title="Storage : Samsung  EVO 860 500GB SATA SSD" Desc="fjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash d" Img="../../../assets/images/GamingBuild/SSD1.png"></app-parts-description>
    <app-parts-description OrderNum="" Title="Memory: Two A-Tech 8GB DDR3-1600 (PC3-12800) DIMM DR" Desc="fjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash d" Img="../../../assets/images/GamingBuild/RAM1.png"></app-parts-description>
    <app-parts-description OrderNum="1" Title="Power Supply: Super Flower Leadex III 850W 80+ Gold" Desc="fjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash d" Img="../../../assets/images/GamingBuild/PSU1.png"></app-parts-description>
    <app-parts-description OrderNum="" Title="Cooling Fan: CORSAIR - Hydro Series 120mm Radiator CPU Liquid Cooling System" Desc="fjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash d" Img="../../../assets/images/GamingBuild/Fan4.png"></app-parts-description>
    <!--Part Description-->
</div>
<img src="../../../assets/images/GamingBuild/" alt="">