<div class="contianer-fluid text-light container-overflow gamingBuildHeroBG MitirFont">
    <div class="row">
        <div class="col-6 text-end">
            <h1 class="HeroTitle">Gaming Build</h1>
        </div>
    </div>
    <div class="row ">
        <!--Left Side-->
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <img src="../../../assets/images/Gaming_Parts.svg" alt="" class="" width="800rem" height="530rem">
                </div>
            </div>
        </div>
        <!--Right Side-->
        <div class="col-6">
            <div class="container">
                <div class="row HeroCard_Top py-2">
                    <div class="col-6">
                        <h2>Quick <span class="Text-Orange">Specification</span></h2>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <app-hollow-btn BtnText="Buy Now!"></app-hollow-btn>
                    </div>
                </div>
                <div class="row HeroCard_Bottom py-2">
                    <div class="col-12">
                        <h3>
                            Processor : Intel(R) Core(TM) i7-4790K CPU @ 4.0GHz
                        </h3>
                        <h3>
                            Graphics Card : NVIDIA GeForce GTX 980
                        </h3>
                        <h3>
                            Motherboard : ASUSTeK Z97-E/USB3.1
                        </h3>
                        <h3>
                            RAM : Two 8GB DDR3
                        </h3>
                        <h3>
                            Storage : EVO 500GB SATA SSD
                        </h3>
                    </div>
                </div>
            </div>
            <div class="container mt-4">
                <div class="row HeroCard_Top py-2">
                    <div class="col-12">
                        <h2><span class="Text-Orange">Special</span> From Us!</h2>
                    </div>
                </div>
                <div class="row HeroCard_Bottom py-2">
                    <div class="col-12">
                        <p>We offer an easy to follow, comprehensive guide to build this computer at home! Check it out
                            <a class="Orange-link" href="">here.</a></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="container-fluid text-light pt-4 MitirFont">

    <!--Part Description-->
    <app-parts-description OrderNum="" Title="Graphics Card: NVIDIA GeForce GTX 980" Desc="The NVIDIA GeForce GTX 980 still packs a punch all these years later! With 1664 CUDA cores all in Nivdia's signature Maxwell architecture and 4FB of GDDR 5 vRAM, you can expect this card to run almost all the modern games with a smooth fps. This card has 1 DisplayPort , 1 HDMI port, a DVI-I DL port and a DVI-D Dl port supporting up to 4 monitors! We think that even with its age, the GTX 980 can hold its own do it its performance to price ratio." Img="../../../assets/images/GamingBuild/Gpu1.png"></app-parts-description>
    <app-parts-description OrderNum="1" Title="Processor: Intel(R) Core(TM) i7-6700K CPU @ 4.0GHz" Desc="Intel's I-7 processors have been a staple in gaming computers since almost their start, so its no surprise the 6th Gen i7 fits perfectly into this build. With 4 cores and 8 threads this processor supports 1920x1080 monitors comfortably and has no problem keeping up with our graphics card of choice. Not only that but comes with a supported turbo that can overclock the processor to 4.20GHz allowing it to handle future upgrades to your PC." Img="../../../assets/images/GamingBuild/MotherBoard ASUS.png"></app-parts-description>
    <app-parts-description OrderNum="" Title="Mother Board: ASUSTeK Z97-E/USB3.1" Desc="The ASUSTeK Z97-E/USB3.1 is a wonderful motherboard that ties all of our parts together. It supports all of our parts with no spacing issues and has 4 USB 2.0s and 2 USB 3.0s for all the gaming peripherals you would ever need! It supports a clean LAN connection so that you never lag in your games again, and fits up to 4 total RAM sticks." Img="../../../assets/images/GamingBuild/Pros2.png"></app-parts-description>
    <app-parts-description OrderNum="1" Title="Storage : Samsung  EVO 860 500GB SATA SSD" Desc="Samsung has proven time and time again that they are some of the best to handle storage with at a great price. So we use their EVO 500GB Solid State Drive for our build. 500GB is plenty of space to store all of your games, and a 550 Mps read speed guaranties that they load lightning fast. " Img="../../../assets/images/GamingBuild/SSD1.png"></app-parts-description>
    <app-parts-description OrderNum="" Title="Memory: Two A-Tech 8GB DDR3-1600 (PC3-12800) DIMM DR" Desc="A-Tech has been a trusted company for many years. Their 8GB RAM sticks have earned their spot on this build. They have a quick speed of 1600MHz and a great price making them the go to for most computer builds, including this one!" Img="../../../assets/images/GamingBuild/RAM1.png"></app-parts-description>
    <app-parts-description OrderNum="1" Title="Power Supply: Super Flower Leadex III 850W 80+ Gold" Desc="Worth its weight in gold, the Super Flower Leadex III 850W 80+ Gold is a power house that will last for as long as you would ever need it. Its premium golden wires, silent, fanless cooling, and modular power system makes this an easy choice for powering the amount of hardware in this build. It also comes packages with very sleek and easy to mold cables!" Img="../../../assets/images/GamingBuild/PSU1.png"></app-parts-description>
    <app-parts-description OrderNum="" Title="Cooling Fan: CORSAIR - Hydro Series 120mm Radiator CPU Liquid Cooling System" Desc="We've heard that liquid cooling is harder to set up than its worth, but with the CORSAIR - Hydro Series 120mm Radiator you can get al the benefits with none of the hassle! Being at 120mm in size this radiator is perfect size for keeping cool, and fitting in our select case, or any other you choose. It also has a very clean looking white light under the Corsair logo that makes this build pop perfectly!" Img="../../../assets/images/GamingBuild/Fan4.png"></app-parts-description>

    <!--Part Description-->
</div>
<img src="../../../assets/images/GamingBuild/" alt="">