<div class="container-fluid text-light">
    <div class="row py-4">
     
        <div class=" offset-lg-2 col-12 col-lg-10 text-center">
            <h1>PC Building</h1>
            <hr class="hr-tag">
        </div>
    </div>
    <div class="row">
        <div class="col-2 d-none d-lg-block m-0">
            <!--Filter-->
            <div class="row bg-filter">
                <div class="col-12 p-0">
                    <app-filter-dropdown></app-filter-dropdown>
                </div>
                <div class="col-12">
                    <!--Filters-->
                    <div class="row">
                        <div class="col-12">
                            <b class="">Price</b>
                            <div class="custom-slider py-3">
                                <ngx-slider [(value)]="Price_minValue" [(highValue)]="Price_maxValue" [options]="Price_options"></ngx-slider>
                                <hr>
                            </div>
                    
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 pb-2">
                            <b>Manufacturer</b>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" [checked]="" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault" >
                                            HP
                                        </label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" [checked]="" id="flexCheckDefault" >
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Nemix Ram
                                        </label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" [checked]="" id="flexCheckDefault" >
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Corsair
                                        </label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" [checked]="" id="flexCheckDefault" >
                                        <label class="form-check-label" for="flexCheckDefault">
                                            TEAMGROUP
                                        </label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" [checked]="" id="flexCheckDefault" >
                                        <label class="form-check-label" for="flexCheckDefault">
                                            LEVEN
                                        </label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" [checked]="" id="flexCheckDefault" >
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Crucial
                                        </label>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <b class="">Capacity</b>
                            <div class="custom-slider py-3">
                                <ngx-slider [(value)]="Price_minValue" [(highValue)]="Price_maxValue" [options]="Price_options"></ngx-slider>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <div class="col-12">
                                <b class="">Clock Frequency</b>
                                <div class="custom-slider py-3">
                                    <ngx-slider [(value)]="Price_minValue" [(highValue)]="Price_maxValue" [options]="Price_options"></ngx-slider>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <!--empty Space-->
            <div class="row empty_Space">

            </div>
        </div>
        <div class="col-12 col-lg-10">
            <!--Body-->
            <div class="row bg-list">
                <div class="col-12">
                    <div class="row pt-5">
                        <div class="col-6 ">
                            <h2>
                                Memory
                            </h2>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <div class="row">
                                <div class="col-2">
                                    <i class="fas fa-search"></i>
                                </div>
                                <div class="col-10">
                                    <input class="form-control form-control-default" type="text" placeholder="Search"
                                        aria-label=".form-control-lg example">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-2 d-lg-none">
                            <div class="row">
                                <div class="col-6">
                                    <app-filter-dropdown></app-filter-dropdown>
                                </div>
                                <div class="col-6">
                                    <button class="btn btn-lg btn-danger w-100 Select-Parts-Dropdown" (click)="openScrollableContent(longContent)">Filter</button>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="row">
                        <div class="spec_title col-3 d-none d-lg-block">
                            <div class="row">
                                <div class="col-8 offset-4 ">
                                    <b>Name</b>
                                </div>
                            </div>
                        </div>
                        <div class="spec_title col-2 d-none d-lg-block">Manufacturer</div>
                        <div class="spec_title col-2 d-none d-lg-block">Capacity</div>
                        <div class="spec_title col-2 d-none d-lg-block">Clock Frequency</div>
                        <div class="spec_title col-3 d-none d-lg-block">Price</div>
                    </div>
                    <!--//Item-->
                    <div *ngFor="let item of array; let i = index ">
                        <app-memory-box thumbnail="{{item.imagePath}}" index="{{i}}" name="{{item.name}}" Manuf="{{item.brand}}" Capacity="{{item.capacity}}" Clock="{{item.clockFrequency}}" Threads="f" Price="{{item.price}}" ></app-memory-box>
                    </div>
                    
                    
                    <!--//Item-->

                </div>


            </div>
        </div>
    </div>
</div>

<ng-template #longContent let-modal class="dark-modal">
    <div class="modal-header ">
      <h4 class="modal-title">Filter</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <!--Filters-->
        <div class="row">
            <div class="col-12">
                <b class="">Price</b>
                <div class="custom-slider py-3">
                    <ngx-slider [(value)]="Price_minValue" [(highValue)]="Price_maxValue" [options]="Price_options"></ngx-slider>
                </div>
            </div>
        </div>
        
       
    
        <span >
            <div class="row">
                <div class="col-12 pb-2">
                    <b>Manufacturer</b>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Cotsair
                                </label>
                            </div>
                        </div>
                      
                        <div class="col-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Crucials
                                </label>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-12">
                    <b class="">Speed</b>
                    <div class="custom-slider py-3">
                        <ngx-slider [(value)]="speed_minValue" [(highValue)]="speed_maxValue" [options]="speed_options"></ngx-slider>
                    </div>
                </div>
                <hr>
                <div class="col-12 pb-2">
                    <b>Module</b>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Cooler Master
                                </label>
                            </div>
                        </div>
                      
                        <div class="col-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Noctura
                                </label>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </span>
        
      
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>
  