.white{
    color: white;
}
html, body {

    margin: 0px;
    padding: 0px;

}
.stylestart{
    font-family: 'Mitr', sans-serif;
}
.herobtn{
background-color: #FF6D17;
border-radius: 20px;
font-size: 20px;
color:white;
}

.homeSecondaryBG{
    background-color: #446A74;
}
