<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

<!--<app-hollow-btn BtnText=""></app-hollow-btn>-->

<div class="stylestart">
    <div class="jumbotron jumbotron-fluid"
        style="background-image: url('../../../assets/images/homeHero1.png'); height:570px; background-repeat: no-repeat; background-size: cover;">
        <div class="text-white text-center rgba-stylish-strong py-5 px-4">
            <div class="">

                <!-- Content -->
                <h2 class="card-title h2 my-1 py-4" style="font-weight: 400; font-size: 40px;">Building a computer seem
                    like too much to handle?</h2>
                <p class="mb-4 pb-2 px-md-5 mx-md-5" style="font-size:30px; font-weight: 300;">Don't worry,
                    <br>
                    we can help you with that.
                </p>
                <button class="herobtn" type="button" mdbBtn color='#FF6D17' mdbWavesEffect> Get started with the
                    Prometheus' Path </button>

            </div>
        </div>
    </div>
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <h2 style="color:white; font-weight: 200;  display: flex; text-align: center; justify-content: center;">
                    Get Started on Your Computer Building Journey!</h2>
                <hr style="color:#FF6D17; height: 3px; opacity: 100%; width:60%; margin-left: 20%;">
            </div>
        </div>
    </div>
  </div>
  
  <div class="b-example-divider"></div>
  
  
  
  <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>


    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-12" style="display: flex; justify-content: center; text-align: center;">
                <div class=""
                    style="width: 24rem; color:white; font-weight: 200; font-size: 20px; justify-content: center;">
                    <div class="card-body">
                        <p class="card-title">Just starting in computer building? Want to find a computer that suits
                            your hobby? Start with our signature Prometheus' Path!</p>
                        <app-hollow-btn style="display: flex; justify-content: center;" BtnText="Prometheus' Path">
                        </app-hollow-btn>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12" style="display: flex; justify-content: center; text-align: center">
                <div class="" style="width: 24rem; color:white; font-weight: 200; font-size: 20px; ">
                    <div class="card-body">
                        <p class="card-text">Want something that we recommend or an idea of where to start with a
                            personal build? Check out our Recommended builds!</p>
                        <app-hollow-btn style="display: flex; justify-content: center;" BtnText="Recommended Builds">
                        </app-hollow-btn>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12" style="display: flex; justify-content: center;  text-align: center">
                <div class="" style="width: 26rem; color:white; font-weight: 200; font-size: 20px;">
                    <div class="card-body">
                        <p class="card-text">Want to start a build and are experienced in the component selection
                            process? Get started in our powerful un-guided computer builder.</p>
                        <app-hollow-btn style="display: flex; justify-content: center;" BtnText="PC Builder">
                        </app-hollow-btn>
                    </div>
                </div>
            </div>



        </div>
    </div>

    <div class="container-fluid mt-5 homeSecondaryBG">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <h2 style="text-align:center; color:white">Our Goal:</h2>
                <hr style="color:#FF6D17; height: 3px; opacity: 100%; width:100%;">
                <br>
                <p style="color:white; font-weight: 200; font-size: 20px;">Here at PC Prometheus we believe that every
                    one has the ability to learn more about the ins and outs of computers. We made this website
                    dedicated all people, whether you are a pro or not, to construct your own computer. </p>
            </div>
            <div class="col-lg-6 col-sm-12">
                <img src='../../../assets/images/homeimg1.png' style="max-width: 100%;">
            </div>
        </div>
    </div>


</div>
