<!--Main Title-->
<!--Make text responsive?-->
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="d-flex justify-content-center" style="font-size: 47px;">Welcome to Prometheus' Path!</div>
        <div class="contentRow mt-1"></div>
        <div class="col-5 d-flex text-center pt-5 lightFont">
            <p>Here we guide you toward building your own computer that fits your needs perfectly! All you need to do is
                follow our quick, accurate series of questions and you'll be ready to build up your own personal
                computer!
            </p>
        </div>

        <!--Easy to Follow Title-->
        <div class="col-12 d-flex justify-content-center" style="margin-top:90px;">
            <div style="font-size: 35px;" class="col-lg-3 col-md-3 col-sm-3 d-flex justify-content-center">Get what you need!</div>
            <div style="font-size: 35px;" class="col-lg-3 col-md-3 col-sm-3 d-flex justify-content-center">Easy to Follow!</div>
            <div style="font-size: 35px;" class="col-lg-3 col-md-3 col-sm-3 d-flex justify-content-center">Learn as you Go!</div>
        </div>
        <div style="border: 1px solid #FF6D17;" class="contentRow mt-3"></div>

        <div class="col-9 d-flex justify-content-around">
            <div class="col-3 d-flex text-center easySteps2 lightFont">We'll ask you a few questions to get a feel on
                what kind of
                computer you want and what you will be using it for. This helps us get the framework of a computer for
                you.</div>
            <div class="verticalBorder"></div>
            <div class="col-3 d-flex text-center easySteps2 lightFont">Next, we will show you some options on parts that
                based on
                the questions you had before hand. Don't worry though! We will explain why these parts are important to
                your computer!</div>
            <div class="verticalBorder"></div>
            <div class="col-3 d-flex text-center easySteps2 lightFont">As we go through these important steps, we will
                have easy
                to understand descriptions of every thing you decide on. We believe its important for you to understand
                what goes into your own computer!</div>
        </div>
    </div>
</div>

<!--Choosing Your Path-->
<div class="container" style="margin-top: 100px; font-family: 'Mitr', sans-serif; font-weight: Regular; color: white;">
    <div class="row d-flex justify-content-center">

        <!--Choosing Price Range-->
        <div class="col-lg-5 col-md-5 col-sm-5">
            <div class="row">
                <p class="mx-3" style="font-size: 28px;">My ideal computer price would be:</p>
                <input class="mt-2" placeholder="Enter Price Here!" style="width: 550px;" type="number" #budgetInput>
            </div>
            <app-hollow-btn BtnText="Start Survey!" (click)="saveBudget(budgetInput.value)"
                class="marginTop pb-3 d-flex justify-content-center" routerLink="/videogames"></app-hollow-btn>
        </div>
    </div>
</div>