<!--Main Title-->
<!--Make text responsive?-->
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="d-flex justify-content-center" style="font-size: 47px;">Welcome to Prometheus' Path!</div>
        <div class="contentRow mt-1"></div>
        <div class="col-5 d-flex text-center pt-5 lightFont">
            <p>Here we guide you toward building your own computer that fits your needs perfectly! All you need to do is
                follow our quick, accurate series of questions and you'll be ready to build up your own personal
                computer!
            </p>
        </div>

        <!--Easy to Follow Title-->
        <div class="col-12 d-flex justify-content-center easySteps">
            <div style="font-size: 35px;" class="col-3 d-flex justify-content-center">Get what you need!</div>
            <div style="font-size: 35px;" class="col-3 d-flex justify-content-center">Easy to Follow!</div>
            <div style="font-size: 35px;" class="col-3 d-flex justify-content-center">Learn as you Go!</div>
        </div>
        <div style="border: 1px solid #FF6D17;" class="contentRow mt-3"></div>

        <div class="col-9 d-flex justify-content-around ">
            <div class="col-3 d-flex text-center easySteps2 lightFont">We'll ask you a few questions to get a feel on
                what kind of
                computer you want and what you will be using it for. This helps us get the framework of a computer for
                you.</div>
            <div class="verticalBorder"></div>
            <div class="col-3 d-flex text-center easySteps2 lightFont">Next, we will show you some options on parts that
                based on
                the questions you had before hand. Don't worry though! We will explain why these parts are important to
                your computer!</div>
            <div class="verticalBorder"></div>
            <div class="col-3 d-flex text-center easySteps2 lightFont">As we go through these important steps, we will
                have easy
                to understand descriptions of every thing you decide on. We believe its important for you to understand
                what goes into your own computer!</div>
        </div>
    </div>
</div>

<!--Choosing Your Path-->
<div class="container-fluid spendingHeader">
    <div class="row d-flex justify-content-center">
        <div class="d-flex justify-content-center" style="font-size: 47px;">What is going to be the main use of your
            computer?</div>
        <div class="contentRow mt-1"></div>
        <div class="col-5 d-flex text-center pt-5 lightFont">
            <p>This is the question that will influence further questions the most, but don't worry! You can learn more
                about certain things by clicking the<a href="#"><span class="orangeFont">orange information
                        text</span></a>when it appear.
            </p>
        </div>
        <div class="container-fluid wrapper mt-5">
            <div class="row d-flex justify-content-center">
                <div class="col-4">
                    <div class="card mt-4 cardColor moveLeft" style="width: 80%;">
                        <p class="card-title d-flex justify-content-center pt-1" style="font-size: 25px;">Video Gaming
                        </p>
                        <div class="cardBorder"></div>
                        <img src="../../../assets/images/Gaming.png" class="card-img-top" alt="...">
                        <div class="cardBorder"></div>
                        <div class="card-body cardColor">
                            <p class="card-text lightFont">Build your own computer gaming computer. Perfect for
                                hardcore, to casual
                                gaming.</p>
                            <a href="#" class="btn btn-dark buttonColor d-flex justify-content-center">Go somewhere</a>
                        </div>
                    </div>
                    <div class="card mt-4 cardColor moveLeft" style="width: 80%;">
                        <p class="card-title d-flex justify-content-center pt-1" style="font-size: 25px;">Video Gaming
                        </p>
                        <div class="cardBorder"></div>
                        <img src="../../../assets/images/Gaming.png" class="card-img-top" alt="...">
                        <div class="cardBorder"></div>
                        <div class="card-body cardColor">
                            <p class="card-text lightFont">Build your own computer gaming computer. Perfect for
                                hardcore, to casual
                                gaming.</p>
                            <a href="#" class="btn btn-dark buttonColor d-flex justify-content-center">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card mt-4 cardColor moveLeft" style="width: 80%;">
                        <p class="card-title d-flex justify-content-center pt-1" style="font-size: 25px;">Video Gaming
                        </p>
                        <div class="cardBorder"></div>
                        <img src="../../../assets/images/Gaming.png" class="card-img-top" alt="...">
                        <div class="cardBorder"></div>
                        <div class="card-body cardColor">
                            <p class="card-text lightFont">Build your own computer gaming computer. Perfect for
                                hardcore, to casual
                                gaming.</p>
                            <a href="#" class="btn btn-dark buttonColor d-flex justify-content-center">Go somewhere</a>
                        </div>
                    </div>
                    <div class="card mt-4 cardColor moveLeft" style="width: 80%;">
                        <p class="card-title d-flex justify-content-center pt-1" style="font-size: 25px;">Video Gaming
                        </p>
                        <div class="cardBorder"></div>
                        <img src="../../../assets/images/Gaming.png" class="card-img-top" alt="...">
                        <div class="cardBorder"></div>
                        <div class="card-body cardColor">
                            <p class="card-text lightFont">Build your own computer gaming computer. Perfect for
                                hardcore, to casual
                                gaming.</p>
                            <a href="#" class="btn btn-dark buttonColor d-flex justify-content-center">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card mt-4 cardColor moveLeft" style="width: 80%;">
                        <p class="card-title d-flex justify-content-center pt-1" style="font-size: 25px;">Video Gaming
                        </p>
                        <div class="cardBorder"></div>
                        <img src="../../../assets/images/Gaming.png" class="card-img-top" alt="...">
                        <div class="cardBorder"></div>
                        <div class="card-body cardColor">
                            <p class="card-text lightFont">Build your own computer gaming computer. Perfect for
                                hardcore, to
                                casual
                                gaming.</p>
                            <a href="#" class="btn btn-dark buttonColor d-flex justify-content-center">Go somewhere</a>
                        </div>
                    </div>
                    <div class="card mt-4 mb-4 cardColor moveLeft" style="width: 80%;">
                        <p class="card-title d-flex justify-content-center pt-1" style="font-size: 25px;">Video Gaming
                        </p>
                        <div class="cardBorder"></div>
                        <img src="../../../assets/images/Gaming.png" class="card-img-top" alt="...">
                        <div class="cardBorder"></div>
                        <div class="card-body cardColor">
                            <p class="card-text lightFont">Build your own computer gaming computer. Perfect for
                                hardcore, to
                                casual
                                gaming.</p>
                            <a href="#" class="btn btn-dark buttonColor d-flex justify-content-center">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Choosing Price Range-->
        <div class="container-fluid mb-5">
            <div class="row d-flex justify-content-center">
                <div class="col-12">
                    <p class="d-flex justify-content-center spendingHeader" style="font-size: 47px;">How much do you
                        plan to
                        spend
                        on a computer?</p>
                    <div class="col-12 d-flex justify-content-center">
                        <div style="border: 1px solid #FF6D17;" class="contentRow mt-3"></div>
                    </div>
                    <p class="d-flex justify-content-center mt-5 lightFont">When it comes to computers, often spending
                        more
                        means
                        greater <a href="#"><span class="orangeFont">performance.</span></a> Asking for a price range
                        helps us set up a
                        plan
                        for the general price of each
                        component of your computer.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-md-7 d-flex justify-content-center mx-5">
                <p style="font-size:25px;" class="mt-5"><span class="orangeFont">Recommended</span>Price Range:</p>
            </div>
        </div>
        <div class="col-6">
            <div class="wrapper2">
                <div class="card cardColor item mt-2 mb-2">
                    <div class="card-body">
                        <p class="d-flex justify-content-center" style="font-size: 25px;">$500 - $800</p>
                        <div class="cardBorder"></div>
                        <h5 class="card-title alignStart mt-3">Pros:</h5>
                        <p class="card-text lightFont">- Computers around this range are mostly used for casual use,
                            such as
                            watching movies or browsing the internet, or office work like handling documents and holding
                            data.</p>
                        <div class="cardBorder"></div>
                        <h5 class="card-title alignStart mt-3">Cons:</h5>
                        <p class="card-text lightFont">- Computers around this range are mostly used for casual use,
                            such as
                            watching movies or browsing the internet, or office work like handling documents and holding
                            data.</p>
                        <p class="card-text lightFont">- If your looking for something that would have some
                            future-proofing or support of future hobbies or jobs, consider investing in a slightly more
                            expensive computer</p>
                    </div>
                </div>
                <div class="card cardColor moveLeft item mt-2 mb-2">
                    <div class="card-body">
                        <p class="d-flex justify-content-center" style="font-size: 25px;">$500 - $800</p>
                        <div class="cardBorder"></div>
                        <h5 class="card-title alignStart mt-3">Pros:</h5>
                        <p class="card-text lightFont">- Computers around this range are mostly used for casual use,
                            such as
                            watching movies or browsing the internet, or office work like handling documents and holding
                            data.</p>
                        <div class="cardBorder"></div>
                        <h5 class="card-title alignStart mt-3">Cons:</h5>
                        <p class="card-text lightFont">- Computers around this range are mostly used for casual use,
                            such as
                            watching movies or browsing the internet, or office work like handling documents and holding
                            data.</p>
                        <p class="card-text lightFont">- If your looking for something that would have some
                            future-proofing or support of future hobbies or jobs, consider investing in a slightly more
                            expensive computer</p>
                    </div>
                </div>
                <div class="card cardColor moveLeft item mt-2 mb-2">
                    <div class="card-body">
                        <p class="d-flex justify-content-center" style="font-size: 25px;">$500 - $800</p>
                        <div class="cardBorder"></div>
                        <h5 class="card-title alignStart mt-3">Pros:</h5>
                        <p class="card-text lightFont">- Computers around this range are mostly used for casual use,
                            such as
                            watching movies or browsing the internet, or office work like handling documents and holding
                            data.</p>
                        <div class="cardBorder"></div>
                        <h5 class="card-title alignStart mt-3">Cons:</h5>
                        <p class="card-text lightFont">- Computers around this range are mostly used for casual use,
                            such as
                            watching movies or browsing the internet, or office work like handling documents and holding
                            data.</p>
                        <p class="card-text lightFont">- If your looking for something that would have some
                            future-proofing or support of future hobbies or jobs, consider investing in a slightly more
                            expensive computer</p>
                    </div>
                </div>
                <div class="card cardColor moveLeft item mt-2 mb-2">
                    <div class="card-body">
                        <p class="d-flex justify-content-center" style="font-size: 25px;">$500 - $800</p>
                        <div class="cardBorder"></div>
                        <h5 class="card-title alignStart mt-3">Pros:</h5>
                        <p class="card-text lightFont">- Computers around this range are mostly used for casual use,
                            such as
                            watching movies or browsing the internet, or office work like handling documents and holding
                            data.</p>
                        <div class="cardBorder"></div>
                        <h5 class="card-title alignStart mt-3">Cons:</h5>
                        <p class="card-text lightFont">- Computers around this range are mostly used for casual use,
                            such as
                            watching movies or browsing the internet, or office work like handling documents and holding
                            data.</p>
                        <p class="card-text lightFont">- If your looking for something that would have some
                            future-proofing or support of future hobbies or jobs, consider investing in a slightly more
                            expensive computer</p>
                    </div>
                </div>
                <div class="card cardColor moveLeft item mt-2 mb-2">
                    <div class="card-body">
                        <p class="d-flex justify-content-center" style="font-size: 25px;">$500 - $800</p>
                        <div class="cardBorder"></div>
                        <h5 class="card-title alignStart mt-3">Pros:</h5>
                        <p class="card-text lightFont">- Computers around this range are mostly used for casual use,
                            such as
                            watching movies or browsing the internet, or office work like handling documents and holding
                            data.</p>
                        <div class="cardBorder"></div>
                        <h5 class="card-title alignStart mt-3">Cons:</h5>
                        <p class="card-text lightFont">- Computers around this range are mostly used for casual use,
                            such as
                            watching movies or browsing the internet, or office work like handling documents and holding
                            data.</p>
                        <p class="card-text lightFont">- If your looking for something that would have some
                            future-proofing or support of future hobbies or jobs, consider investing in a slightly more
                            expensive computer</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 easySteps">
            <div class="row">
                <p class="mx-3" style="font-size: 28px;">My ideal computer price would be:</p>
                <input class="mt-2" placeholder="Enter Price Here!" style="width: 550px;" type="text">
            </div>
            <a href="#" class="btn btn-dark buttonColor marginTop priceBtn">Go somewhere</a>
        </div>

        <div class="col-12">-</div>