<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="d-flex justify-content-center" style="font-size: 47px;">Welcome to Prometheus' Path!</div>
        <div class="contentRow mt-1"></div>
        <div class="col-5 d-flex text-center pt-5">
            <p>Here we guide you toward building your own computer that fits your needs perfectly! All you need to do is
                follow our quick, accurate series of questions and you'll be ready to build up your own personal
                computer!
            </p>
        </div>
    </div>
</div>