<div class="container bg-light">
    <fieldset>
        <legend>User Form</legend>
        <form [formGroup]="LoginForm" (ngSubmit)="submitForm()">
            <div class="form-group">
                <label for="Username">UserName</label>
                <input type="text"  class="form-control" id="Username" formControlName="Username">
            </div>
            <div class="form-group">
                <label for="">UserName</label>
                <input type="text" class="form-control" id="Password" formControlName="Password">
            </div>
            <button type="submit" class="btn btn-primary mt-3" [disabled]="!LoginForm.valid">Submit</button>
        </form>
    </fieldset>
    <button class="btn-primary btn" (click)="clickMe()">Get list</button>
</div>