.container-fluid{
    font-family: 'Mitr', sans-serif;
    font-weight: Regular;
    color: white;
}
.topNavbar{
    background-color: #101E27;
    min-height: 78px;
}

.topNavbar #navBrand:hover{
    cursor: pointer;
}
.topNavbar #navBrand:focus{
    outline: none;
}
.botNavbar{
    background-color: #3B5C65;
    min-height: 50px;
    font-size: 20px;
}

.botNavbar 
.btn-secondary,
.btn-secondary:active,
.btn-secondary:focus{
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #FF6D17;
    border-radius: 0px;
    outline: none !important;
    box-shadow: none !important;
    font-size: 20px;
    height:100%;
    font-weight:300;
    letter-spacing: -1px;
}
.btn-secondary:hover{
    background-color: rgba(0, 0, 0, 0.26) !important;
}

.dropdown-menu{
    width: 100%;
    border-radius: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color:#24363B;
    text-align: center;
}
.dropdown-item{
    color: #ffffff;
    font-size:15px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px;
    padding-right: 5px;
    word-spacing: -3px;
}
.dropdown-menu hr{
    border: none;
    background-color: #FF6D17;
    height: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left:10px;
    margin-right: 10px;
    opacity: 100%;
    min-width: 80%;
    
}

.dropdown-item:hover{
    background-color: #ffffff31;
}


.dropdown-toggle::after{
    vertical-align: middle;
    margin-left: .5rem
}

#productsDropDown .dropdown-menu{
    width: 645%;
    border-radius: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color:#24363B;
    text-align: center;
}

#productsDropDown img{
    width: 8rem;
    height: 6rem;
}

.collapse-item{
    color: white;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}