<div class="container">
    <p>
        <ngb-progressbar style="width: 100%;" class="mt-5" type="success" [value]="33" [striped]="true"
            [animated]="true"><i>33%</i></ngb-progressbar>
    </p>
</div>
<div class="container-fluid mt-4">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="d-flex justify-content-center" style="font-size: 40px;">What Level of 'gamer' Would You Consider
                Yourself?</div>
            <div class="contentRow mt-1"></div>
            <div class="col-3 d-flex justify-content-around mt-5">
                <div class="card cardColor2" style="width: 20rem; height: 22rem;">
                    <div class="card-body">
                        <h5 class="card-title cardTextCenter lightFont" style="font-size:30px;">Casual</h5>
                        <div class="cardBorder"></div>
                        <p class="card-text lightFont cardTextCenter cardMargin" style="margin-bottom: 75px;"> Games
                            infrequently, plays games that aren't visually complex, or games mostly in-browser</p>
                        <app-hollow-btn (click)="recordResponse('q1', 1)" style="margin-left:105px;" BtnText="Select!"></app-hollow-btn>
                    </div>
                </div>
            </div>
            <div class="col-3 d-flex justify-content-around mt-5">
                <div class="card cardColor2" style="width: 20rem; height: 22rem;">
                    <div class="card-body">
                        <h5 class="card-title cardTextCenter lightFont" style="font-size:30px;">Mid-Range</h5>
                        <div class="cardBorder"></div>
                        <p class="card-text lightFont cardTextCenter cardMargin" style="margin-bottom: 75px;">Games
                            pretty frequently, enjoys more striking graphics, engages in multiplayer games.</p>
                        <app-hollow-btn (click)="recordResponse('q1', 2)" style="margin-left:105px;" BtnText="Select!"></app-hollow-btn>
                    </div>
                </div>
            </div>
            <div class="col-3 d-flex justify-content-around mt-5">
                <div class="card cardColor2" style="width: 20rem; height: 22rem;">
                    <div class="card-body">
                        <h5 class="card-title cardTextCenter lightFont" style="font-size:30px;">Pro Gamer</h5>
                        <div class="cardBorder"></div>
                        <p class="card-text lightFont cardTextCenter cardMargin" style="margin-bottom: 75px;">Gamers who
                            play very frequently, wants a tournament ready computer.</p>
                        <app-hollow-btn (click)="recordResponse('q1', 3)" style="margin-left:105px;" BtnText="Select!"></app-hollow-btn>
                    </div>
                </div>
            </div>

            <div class="col-5 d-flex text-center mt-5 lightFont" style="font-size: 18px;">
                <p>Here we guide you toward building your own computer that fits your needs perfectly! All you need to
                    do is
                    follow our quick, accurate series of questions and you'll be ready to build up your own personal
                    computer!
                </p>
            </div>
        </div>
    </div>


    <div class="container-fluid mainUse">
        <div class="row d-flex justify-content-center">
            <div class="d-flex justify-content-center" style="font-size: 40px;">When you play games, how complex are the
                graphics?</div>
            <div class="contentRow mt-1"></div>
            <div class="col-3 d-flex justify-content-around mt-5">
                <div class="card cardColor2" style="width: 20rem; height: 22rem;">
                    <div class="card-body">
                        <h5 class="card-title cardTextCenter lightFont" style="font-size:30px;">Minimal</h5>
                        <div class="cardBorder"></div>
                        <p class="card-text lightFont cardTextCenter cardMargin" style="margin-bottom: 100px;">I mostly
                            play minimalistic and retro games.</p>
                        <app-hollow-btn (click)="recordResponse('q2', 1)" style="margin-left:105px;" BtnText="Select!"></app-hollow-btn>
                    </div>
                </div>
            </div>
            <div class="col-3 d-flex justify-content-around mt-5">
                <div class="card cardColor2" style="width: 20rem; height: 22rem;">
                    <div class="card-body">
                        <h5 class="card-title cardTextCenter lightFont" style="font-size:30px;">Mid-Range</h5>
                        <div class="cardBorder"></div>
                        <p class="card-text lightFont cardTextCenter cardMargin" style="margin-bottom: 100px;">The games
                            I play are colorful, but not intense or realistic.</p>
                        <app-hollow-btn (click)="recordResponse('q2', 2)" style="margin-left:105px;" BtnText="Select!"></app-hollow-btn>
                    </div>
                </div>
            </div>
            <div class="col-3 d-flex justify-content-around mt-5">
                <div class="card cardColor2" style="width: 20rem; height: 22rem;">
                    <div class="card-body">
                        <h5 class="card-title cardTextCenter lightFont" style="font-size:30px;">Beautiful</h5>
                        <div class="cardBorder"></div>
                        <p class="card-text lightFont cardTextCenter cardMargin" style="margin-bottom: 100px;">I play
                            games with open worlds with complex, vivid details.</p>
                        <app-hollow-btn (click)="recordResponse('q2', 3)" style="margin-left:105px;" BtnText="Select!"></app-hollow-btn>
                    </div>
                </div>
            </div>
            <div class="col-5 d-flex justify-content-center mt-5 lightFont"  style="font-size: 18px;">
                <p>This decision will decide how strong your graphics card will be.
                </p>
            </div>
        </div>
    </div>

    <div class="container-fluid mainUse">
        <div class="container-fluid">
            <div class="row d-flex justify-content-center">
                <div class="d-flex justify-content-center" style="font-size: 40px;">How well would you like to
                    'future-proof' your computer?</div>
                <div class="contentRow mt-1"></div>
                <div class="col-3 d-flex justify-content-around mt-5">
                    <div class="card cardColor2" style="width: 20rem; height: 22rem;">
                        <div class="card-body">
                            <h5 class="card-title cardTextCenter lightFont" style="font-size:30px;">Budget</h5>
                            <div class="cardBorder"></div>
                            <p class="card-text lightFont cardTextCenter cardMargin" style="margin-bottom: 75px;">Oh I
                                just need something within my budget, I don't need an excess of firepower.</p>
                            <app-hollow-btn (click)="recordResponse('q3', 1)" style="margin-left:105px;" BtnText="Select!"></app-hollow-btn>
                        </div>
                    </div>
                </div>
                <div class="col-3 d-flex justify-content-around mt-5">
                    <div class="card cardColor2" style="width: 20rem; height: 22rem;">
                        <div class="card-body">
                            <h5 class="card-title cardTextCenter lightFont" style="font-size:30px;">Mid-Range</h5>
                            <div class="cardBorder"></div>
                            <p class="card-text lightFont cardTextCenter cardMargin" style="margin-bottom: 75px;">I want
                                nothing but the best! I don't want to worry about upgrading for a good while.</p>
                            <app-hollow-btn (click)="recordResponse('q3', 2)" style="margin-left:105px;" BtnText="Select!"></app-hollow-btn>
                        </div>
                    </div>
                </div>
                <div class="col-3 d-flex justify-content-around mt-5">
                    <div class="card cardColor2" style="width: 20rem; height: 22rem;">
                        <div class="card-body">
                            <h5 class="card-title cardTextCenter lightFont" style="font-size:30px;">Future Proofed</h5>
                            <div class="cardBorder"></div>
                            <p class="card-text lightFont cardTextCenter cardMargin" style="margin-bottom: 75px;">Gamers
                                who play very frequently, wants a tournament ready computer.</p>
                            <app-hollow-btn (click)="recordResponse('q3', 3)" style="margin-left:105px;" BtnText="Select!"></app-hollow-btn>
                        </div>
                    </div>
                </div>
                <div class="col-5 d-flex text-center mt-5 lightFont" style="font-size: 18px;">
                    <p>This means upgrading given parts of your computer for the sake of them being strong enough to
                        keep up with the evolution of technology! Investing in parts that are newer and more superior
                        can be pricey, but will also provide you parts that will need to upgraded less often.
                    </p>
                </div>
            </div>
        </div>

        <div class="container-fluid mainUse">
            <div class="container-fluid">
                <div class="row d-flex justify-content-center">
                    <div class="d-flex justify-content-center" style="font-size: 40px;">Do you plan to upgrade the
                        processing and memory later on?</div>
                    <div class="contentRow mt-1"></div>
                    <div class="col-3 d-flex justify-content-around mt-5">
                        <div class="card cardColor2" style="width: 20rem; height: 22rem;">
                            <div class="card-body">
                                <h5 class="card-title cardTextCenter lightFont" style="font-size:30px;">No</h5>
                                <div class="cardBorder"></div>
                                <p class="card-text lightFont cardTextCenter cardMargin" style="margin-bottom: 100px;">
                                    No, I know exactly what I need this computer to do.</p>
                                <app-hollow-btn (click)="recordResponse('q4', 1)" style="margin-left:105px;" BtnText="Select!"></app-hollow-btn>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 d-flex justify-content-around mt-5">
                        <div class="card cardColor2" style="width: 20rem; height: 22rem;">
                            <div class="card-body">
                                <h5 class="card-title cardTextCenter lightFont" style="font-size:30px;">Yes</h5>
                                <div class="cardBorder"></div>
                                <p class="card-text lightFont cardTextCenter cardMargin" style="margin-bottom: 77px;">
                                    Yes, I plan on investing on this setup and changing out or adding parts. </p>
                                <app-hollow-btn (click)="recordResponse('q4', 2)" style="margin-left:105px;" BtnText="Select!"></app-hollow-btn>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 d-flex justify-content-around mt-5">
                        <div class="card cardColor2" style="width: 20rem; height: 22rem;">
                            <div class="card-body">
                                <h5 class="card-title cardTextCenter lightFont" style="font-size:30px;">Not Sure</h5>
                                <div class="cardBorder"></div>
                                <p class="card-text lightFont cardTextCenter" style="margin-bottom: 105px; margin-top: 110px;">
                                    I'm not sure.</p>
                                <app-hollow-btn (click)="recordResponse('q4', 3)" style="margin-left:105px;" BtnText="Select!"></app-hollow-btn>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 d-flex text-center mt-5 lightFont" style="font-size: 18px;">
                        <p>This tells us what kind of processor and memory we can give you the options of choosing
                            later. If you're not sure, that's fine, we can make the decision based off of other answers.
                        </p>
                    </div>
                </div>
            </div>

            <div class="container-fluid mainUse">
                <div class="container-fluid">
                    <div class="row d-flex justify-content-center">
                        <div class="d-flex justify-content-center" style="font-size: 40px;">Do you save large files on
                            your computer?</div>
                        <div class="contentRow mt-1"></div>
                        <div class="col-3 d-flex justify-content-around mt-5">
                            <div class="card cardColor2" style="width: 20rem; height: 22rem;">
                                <div class="card-body">
                                    <h5 class="card-title cardTextCenter lightFont" style="font-size:30px;">
                                        Cloud-Storage</h5>
                                    <div class="cardBorder"></div>
                                    <p class="card-text lightFont cardTextCenter"
                                        style="margin-bottom: 105px; margin-top: 110px;">
                                        I mainly use cloud storage.</p>
                                    <app-hollow-btn (click)="recordResponse('q5', 1)" style="margin-left:105px;" BtnText="Select!"></app-hollow-btn>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 d-flex justify-content-around mt-5">
                            <div class="card cardColor2" style="width: 20rem; height: 22rem;">
                                <div class="card-body">
                                    <h5 class="card-title cardTextCenter lightFont" style="font-size:30px;">Mid-Range
                                    </h5>
                                    <div class="cardBorder"></div>
                                    <p class="card-text lightFont cardTextCenter"
                                        style="margin-bottom: 85px; margin-top: 105px;">
                                        I don't save a whole lot on my computer.</p>
                                    <app-hollow-btn (click)="recordResponse('q5', 2)" style="margin-left:105px;" BtnText="Select!"></app-hollow-btn>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 d-flex justify-content-around mt-5">
                            <div class="card cardColor2" style="width: 20rem; height: 22rem;">
                                <div class="card-body">
                                    <h5 class="card-title cardTextCenter lightFont" style="font-size:30px;">Large Files
                                    </h5>
                                    <div class="cardBorder"></div>
                                    <p class="card-text lightFont cardTextCenter"
                                        style="margin-bottom: 85px; margin-top: 105px;">
                                        I store a lot of programs and large files on my computer.</p>
                                    <app-hollow-btn (click)="recordResponse('q5', 3)" style="margin-left:105px;" BtnText="Select!"></app-hollow-btn>
                                </div>
                            </div>
                        </div>
                        <div class="col-5 d-flex justify-content-center mt-5 lightFont" style="font-size: 18px;">
                            <p>These options will allow us to help you choose a storage device.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="container-fluid mainUse">
                    <div class="container-fluid">
                        <div class="row d-flex justify-content-center">
                            <div class="d-flex justify-content-center" style="font-size: 40px;">How fast do you need your PC to run?</div>
                            <div class="contentRow mt-1"></div>
                            <div class="col-3 d-flex justify-content-around mt-5">
                                <div class="card cardColor2" style="width: 20rem; height: 22rem;">
                                    <div class="card-body">
                                        <h5 class="card-title cardTextCenter lightFont" style="font-size:28px;">
                                            Not Fast</h5>
                                        <div class="cardBorder"></div>
                                        <p class="card-text lightFont cardTextCenter"
                                            style="margin-bottom: 105px; margin-top: 110px;">
                                            I don't need a very fast computer.</p>
                                        <app-hollow-btn (click)="recordResponse('q6', 1)" style="margin-left:105px;" BtnText="Select!"></app-hollow-btn>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 d-flex justify-content-around mt-5">
                                <div class="card cardColor2" style="width: 20rem; height: 22rem;">
                                    <div class="card-body">
                                        <h5 class="card-title cardTextCenter lightFont" style="font-size:28px;">
                                            Mid-Range</h5>
                                        <div class="cardBorder"></div>
                                        <p class="card-text lightFont cardTextCenter"
                                            style="margin-bottom: 87px; margin-top: 105px;">
                                            It doesn't have to be the fastest, but I also don't want it to be slow.</p>
                                        <app-hollow-btn (click)="recordResponse('q6', 2)" style="margin-left:105px;" BtnText="Select!"></app-hollow-btn>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 d-flex justify-content-around mt-5">
                                <div class="card cardColor2" style="width: 20rem; height: 22rem;">
                                    <div class="card-body">
                                        <h5 class="card-title cardTextCenter lightFont" style="font-size:28px;">Really Fast</h5>
                                        <div class="cardBorder"></div>
                                        <p class="card-text lightFont cardTextCenter"
                                            style="margin-bottom: 105px; margin-top: 110px;">
                                            I want it to be really fast!</p>
                                        <app-hollow-btn (click)="recordResponse('q6', 3)" style="margin-left:105px;" BtnText="Select!"></app-hollow-btn>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 d-flex text-center mt-5 lightFont" style="font-size: 18px;">
                                <p>This decision will let us know what RAM and CPU to give you as options. The stronger your RAM and CPU are, the faster your computer will be.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="container-fluid mainUse">
                            <div class="row d-flex justify-content-center">
                                <div class="d-flex justify-content-center" style="font-size: 40px;">Now you will be asked to choose your parts!</div>
                                <div class="contentRow mt-1"></div>
                                    <app-hollow-btn class="d-flex justify-content-center" style="margin-top: 75px; margin-bottom: 100px;" BtnText="Next Page"  routerLink = "/surveyparts"></app-hollow-btn>
                            </div>
                        </div>