<div class="container d-flex justify-content-center mt-5">
    <div class="row">
        <div class="col">
            <h1 style="font-size:35px; color:#ffffff; font-weight:bold; font-style:italic;">
                Our
                <span style="color: #FF6D17">Recommended</span>
                Builds
            </h1>
        </div>
    </div>
</div>

<hr style="color:#FF6D17; height: 3px; opacity: 100%; width:75%; margin-left: 10%;">

<div class="container">
    <div class="row">
        <div class="col">
            <h2 style="color:#ffffff; font-size: 20px; display: flex; justify-content: center;"> we recomend these
                builds because they are great to learn computer building with.</h2>
            <h2 style="color:#ffffff; font-size: 20px; display: flex; justify-content: center;"> Comprehensible parts,
                are great at computing what you need and have our</h2>
            <h2 style="color:#ffffff; font-size: 20px; display: flex; justify-content: center;"> handmade, easy to
                follow guides.</h2>
        </div>
    </div>
</div>

<div class="container-fluid mt-4 secondary d-flex justify-content-center ">
    <div class="row">
        <div class="col-4 box">
            <div class="card" style="width: 20rem; background-color: #446A74; border: none;">
                <h2 class="card-title d-flex justify-content-center" style="color:#ffffff">Office Build</h2>
                <hr style="color:#FF6D17; height: 3px; opacity: 100%; width:100%;">
                <img src="../../../assets/images/Case.png" style="height: 375px" alt="...">
                <div class="card-body">
                    <hr style="color:#FF6D17; height: 3px; opacity: 100%; width:100%;">
                    <p class="card-text" style="color:#ffffff">Perfect for daily use with more casual activities like
                        web surfing, working in an office, and digital art.</p>
                    <a href="#" class="btn btn-warning orangebtn d-flex justify-content-center"
                        style="border: #FF6D17 ;">Check it out!</a>
                </div>
            </div>
        </div>
        <div class="col-4 box">
            <div class="card" style="width: 20rem; background-color: #446A74; border: none;">
                <h2 class="card-title d-flex justify-content-center" style="color:#ffffff">Gaming Build</h2>
                <hr style="color:#FF6D17; height: 3px; opacity: 100%; width:100%;">
                <img src="../../../assets/images/Case.png" style="height: 375px" alt="...">
                <div class="card-body">
                    <hr style="color:#FF6D17; height: 3px; opacity: 100%; width:100%;">
                    <p class="card-text" style="color:#ffffff">Perfect for daily use with more casual activities like
                        web surfing, working in an office, and digital art.</p>
                    <a href="#" class="btn btn-warning orangebtn d-flex justify-content-center"
                        style="border: #FF6D17 ;">Check it out!</a>
                </div>
            </div>
        </div>
        <div class="col-4 box">
            <div class="card" style="width: 20rem; background-color: #446A74; border: none;">
                <h2 class="card-title d-flex justify-content-center" style="color:#ffffff">Video Editing Build</h2>
                <hr style="color:#FF6D17; height: 3px; opacity: 100%; width:100%;">
                <img src="../../../assets/images/Case.png" style="height: 375px" alt="...">
                <div class="card-body">
                    <hr style="color:#FF6D17; height: 3px; opacity: 100%; width:100%;">
                    <p class="card-text" style="color:#ffffff">Perfect for daily use with more casual activities like
                        web surfing, working in an office, and digital art.</p>
                    <a href="#" class="btn btn-warning orangebtn d-flex justify-content-center"
                        style="border: #FF6D17 ;">Check it out!</a>
                </div>
            </div>
        </div>
    </div>
</div>