<div class="stylestart">
    <div class="container d-flex justify-content-center mt-5">
        <div class="row">
            <div class="col">
                <h1 style="font-size:35px; color:#ffffff; font-weight:500; font-style:regular; text-align: center;">
                    Our
                    <span style="color: #FF6D17; font-weight: 500;">Recommended</span>
                    Builds
                </h1>
            </div>
        </div>
    </div>
    
    <hr style="color:#FF6D17; height: 3px; opacity: 100%; width:75%; margin-left: 10%;">
    
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 style="color:#ffffff; font-size: 20px; font-weight: 300; display: flex; text-align: center;"> we recommend these
                    builds because they are great to learn computer building with. Comprehensible parts,
                    are great at computing what you need and have our handmade, easy to
                    follow guides.</h2>
                
            </div>
        </div>
    </div>
    
    <div class="container-fluid mt-4 secondary d-flex justify-content-center ">
        <div class="row">
            <div class="col-lg-4 col-sm-12 box">
                <div class="card" style="width: 25rem; background-color: #446A74; border: none;">
                    <h2 class="card-title d-flex justify-content-center" style="color:#ffffff; font-weight: 300" >Office Build</h2>
                    <hr style="color:#FF6D17; height: 3px; opacity: 100%; width:100%;">
                    <img src="../../../assets/images/OfficeBuild/case.png" style="max-width: 300px; margin-left: auto; margin-right: auto;"  alt="Office Build Desktop">
                    <div class="card-body">
                        <hr style="color:#FF6D17; height: 3px; opacity: 100%; width:100%;">
                        <p class="card-text" style="color:#ffffff; font-weight: 300; text-align: center;">Perfect for daily use with more casual activities like
                            web surfing, working in an office, and digital art.</p>
                            <app-hollow-btn [routerLink]="'/OfficeBuild'" style="display: flex; justify-content: center; margin-top: 38px;"  BtnText="Check it out!"></app-hollow-btn>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 box">
                <div class="card" style="width: 25rem; background-color: #446A74; border: none;">
                    <h2 class="card-title d-flex justify-content-center" style="color:#ffffff; font-weight: 300">Gaming Build</h2>
                    <hr style="color:#FF6D17; height: 3px; opacity: 100%; width:100%;">
                    <img src="../../../assets/images/Case.png" style="max-width: 169px; margin-left: 102px;"  alt="Gaming Build Desktop">
                    <div class="card-body">
                        <hr style="color:#FF6D17; height: 3px; opacity: 100%; width:100%;">
                        <p class="card-text" style="color:#ffffff; font-weight: 300; text-align: center;">A gaming PC build with the power to play the most modern games, the style to stand up to the name brands, and the simplicity to build it yourself.</p>
                            <app-hollow-btn [routerLink]="'/GamingBuild'" style="display: flex; justify-content: center;"  BtnText="Check it out!"></app-hollow-btn>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 box">
                <div class="card" style="width: 25rem; background-color: #446A74; border: none;">
                    <h2 class="card-title d-flex justify-content-center" style="color:#ffffff; font-weight: 300 ">Video Editing Build</h2>
                    <hr style="color:#FF6D17; height: 3px; opacity: 100%; width:100%;">
                    <img src="../../../assets/images/VideoEditingBuild/case.png" style="max-width: 230px; margin-left: auto; margin-right: auto;"  alt="Video Editing Desktop">
                    <div class="card-body">
                        <hr style="color:#FF6D17; height: 3px; opacity: 100%; width:100%;">
                        <p class="card-text" style="color:#ffffff; font-weight: 300; text-align: center;">A computer that can solve all of the video and 3D rendering issues you could ever have. Save money building it, then save time using it.</p>
                            <app-hollow-btn [routerLink]="'/VideoEditingBuild'" style="display: flex; justify-content: center;"  BtnText="Check it out!"></app-hollow-btn>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- <div class="container d-flex justify-content-center mt-5">
        <div class="row">
            <div class="col">
                <h1 style="font-size:35px; ; color:#ffffff; font-weight:500; font-style:regular;  text-align: center">
                    Our
                    <span style="color: #FF6D17; font-weight: 500;">Recommended</span>
                    High-End Builds
                </h1>
            </div>
        </div>
    </div>
    
    <hr style="color:#FF6D17; height: 3px; opacity: 100%; width:75%; margin-left: 10%;">
    
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 style="color:#ffffff; font-weight: 300; font-size: 20px; display: flex; text-align: center;"> These builds have a few more costs to them than our other recommended builds but they double that price in performance. These computers are for people who know what there hobby is and want to get the best equipment to use. </h2>
                
            </div>
        </div>
    </div>
    
    <div class="container-fluid mt-4 secondary d-flex justify-content-center ">
        <div class="row">
            <div class="col-lg-6 col-sm-12 box">
                <div class="card" style="width: 25rem; background-color: #446A74; border: none;">
                    <h2 class="card-title d-flex justify-content-center" style="color:#ffffff; font-weight: 300">Gaming Build EX</h2>
                    <hr style="color:#FF6D17; height: 3px; opacity: 100%; width:100%;">
                    <img src="../../../assets/images/Case.png" style="max-width: 169px; margin-left: 102px;"  alt="Gaming Build EX Desktop">
                    <div class="card-body">
                        <hr style="color:#FF6D17; height: 3px; opacity: 100%; width:100%;">
                        <p class="card-text" style="color:#ffffff; font-weight: 300; text-align: center;">A gaming PC that can power through games well into the future. This build is heavier in the wallet, but will be running the futures most taxing games for 5 to 10 more years.</p>
                            <app-hollow-btn style="display: flex; justify-content: center;"  BtnText="Check it out!"></app-hollow-btn>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 box">
                <div class="card" style="width: 25rem; background-color: #446A74; border: none;">
                    <h2 class="card-title d-flex justify-content-center" style="color:#ffffff; font-weight: 300">Video Editing Build EX</h2>
                    <hr style="color:#FF6D17; height: 3px; opacity: 100%; width:100%;">
                    <img src="../../../assets/images/ModestPC.png"  alt="Video Editing Build EX Desktop">
                    <div class="card-body">
                        <hr style="color:#FF6D17; height: 3px; opacity: 100%; width:100%;">
                        <p class="card-text" style="color:#ffffff;font-weight: 300; text-align: center;">This computer is what people make award winning movies with. It will handle the most intense video editing and 3D ever. All while being assembled at your own house</p>
                            <app-hollow-btn style="display: flex; justify-content: center;"  BtnText="Check it out!"></app-hollow-btn>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div> -->