<div class="container">
    <p>
        <ngb-progressbar style="width: 100%;" class="mt-5" type="success" [value]="66" [striped]="true"
            [animated]="true"><i>66%</i></ngb-progressbar>
    </p>
</div>
<div class="container-fluid mt-5">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="d-flex justify-content-center" style="font-size: 40px;">Choose Your Graphics Card!</div>
            <div class="contentRow mt-1"></div>


            <div *ngFor="let item of gpuCall; let i = index" class="col-md-12 col-lg-4 col-sm-12 d-flex justify-content-around mt-5">
                <div class="card cardColor2" style="width: 325px; height: 36rem;">

                    <div class="card-body">
                        <h5 class="card-title cardTextCenter lightFont text-truncate" style="font-size:19px; max-width: 350px;">
                            {{item.name}}</h5>
                        <img src="../../.././assets/images/{{item.imagePath}}.png" class="card-img-top strictImage" style="height: 25%;" alt="">
                        <p class="card-text cardTextCenter mt-2" style="font-size: 18px;">
                            Specifications:</p>
                        <div class="row lightFont">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>Memory Size:</p>
                            </div>
                            <div class="col-lg-6">
                                <p>{{item.memorySize}}</p>

                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>CUDA Cores:</p>
                            </div>
                            <div class="col-lg-6">
                                <p>{{item.coreCount }}</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>Memory Type:</p>
                            </div>

                            <div class="col-lg-6">
                                <p>{{item.memoryType }}</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>Display Connectors:</p>
                            </div>

                            <div class="col-lg-6">
                                <p>{{item.videoOutputPorts }}</p>
                            </div>
                            <div class="cardBorder"></div>
                            <div class="col-lg-6">
                                <p style="font-weight:initial; font-size: 20px;">Retail Price:</p>
                            </div>
                            <div class="col-lg-6">
                                <p style="font-weight:initial; font-size: 20px;">{{item.price }}</p>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <app-hollow-btn (click)="sendToAmazon(item.name)" class="d-flex justify-content-center" BtnText="Select!">
                            </app-hollow-btn>

                        </div>
                    </div>
                </div>
            </div>


            <div class="col-5 d-flex justify-content-center mt-5 lightFont" style="font-size: 18px;">
                <p>These options will allow us to help you choose a storage device.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-5">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="d-flex justify-content-center" style="font-size: 40px;">Choose Your CPU!</div>
            <div class="contentRow mt-1"></div>


            <div *ngFor="let item of cpuCall; let i = index" class="col-md-12 col-lg-4 col-sm-12 d-flex justify-content-around mt-5">
                <div id="question1card1" class="card cardColor2" style="min-width: 325px; width: 325px; height: 36rem; min-height: 36rem;">

                    <div class="card-body">
                        <h5 class="card-title cardTextCenter lightFont text-truncate" style="font-size:19px; max-width: 350px; ">
                           {{item.name }}</h5>
                        <img src="../../.././assets/images/{{item.imagePath}}.png" class="card-img-top" style="height: 25%;" alt="">
                        <p class="card-text cardTextCenter mt-2" style="font-size: 18px;">
                            Specifications:</p>
                        <div class="row lightFont">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>Brand:</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>{{item.brand }}</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>Cores:</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>{{item.coreCount }}</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>Threads:</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>{{item.threadCount }}</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>Frequency:</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>{{item.frequency }}</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>Pci Express:</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>{{item.pciExpress }}</p>
                            </div>
                            <div class="cardBorder2"></div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p style="font-weight:initial; font-size: 20px;">Retail Price:</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p style="font-weight:initial; font-size: 20px;">{{item.price }}</p>
                            </div>
                        </div>
                        <div class="col-lg-12 d-flex justify-content-center">
                            <app-hollow-btn (click)="sendToAmazon(item.name)" class="d-flex justify-content-center" BtnText="Select!"></app-hollow-btn>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-5 d-flex justify-content-center mt-5 lightFont" style="font-size: 18px;">
                <p>These options will allow us to help you choose a storage device.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-5">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="d-flex justify-content-center" style="font-size: 40px;">Choose Your Motherboard!</div>
            <div class="contentRow mt-1"></div>

            <div *ngFor="let item of motherboardCall; let i = index" class="col-md-12 col-lg-4 col-sm-12 d-flex justify-content-around mt-5">
                <div id="question1card1" class="card cardColor2" style="min-width: 325px; width: 325px; height: 36rem; min-height: 36rem;">
                    <div class="card-body">
                        <h5 class="card-title cardTextCenter lightFont text-truncate" style="font-size:19px; max-width: 350px;">
                            {{item.name }}</h5>
                        <img src="../../.././assets/images/{{item.imagePath}}.png" class="card-img-top" style="height: 25%;" alt="">
                        <p class="card-text cardTextCenter mt-2" style="font-size: 18px;">
                            Specifications:</p>
                        <div class="row lightFont">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>Form Factor:</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>{{item.formFactor }}</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>Cpu Socket:</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>{{item.cpuSocket}}</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>Chipset:</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>{{item.chipset }}</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>Ram Slots:</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>{{item.ramSlots }}</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>Built in Wifi:</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>{{item.inBuiltWifi }}</p>
                            </div>
                            <div class="cardBorder2" style="margin-top:20px"></div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p style="font-weight:initial; font-size: 20px;">Retail Price:</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p style="font-weight:initial; font-size: 20px;">{{item.price}}</p>
                            </div>
                        </div>
                        <div class="col-lg-12 d-flex justify-content-center">
                            <app-hollow-btn (click)="sendToAmazon(item.name)" class="d-flex justify-content-center" BtnText="Select!"></app-hollow-btn>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-5 d-flex justify-content-center mt-5 lightFont" style="font-size: 18px;">
                <p>These options will allow us to help you choose a storage device.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-5">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="d-flex justify-content-center" style="font-size: 40px;">Choose Your Case!</div>
            <div class="contentRow mt-1"></div>


            <div *ngFor="let item of caseCall; let i = index" class="col-md-12 col-lg-4 col-sm-12 d-flex justify-content-around mt-5">
                <div id="question1card1" class="card cardColor2" style="min-width: 325px; width: 325px; height: 36rem; min-height: 36rem;">
                    <div class="card-body">
                        <h5 class="card-title cardTextCenter lightFont text-truncate" style="font-size:19px; max-width: 350px;">
                            {{item.name}}</h5>
                        <img src="../../.././assets/images/{{item.imagePath}}.png" class="card-img-top" style="height: 25%;" alt="">
                        <p class="card-text cardTextCenter mt-2" style="font-size: 18px;">
                            Specifications:</p>
                        <div class="row lightFont">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

                                <p>Size:</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>{{item.size }}</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>RGB:</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>{{item.rgb }}</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>Form Factor:</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>{{item.mbFormFactor }}</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p></p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p></p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p></p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p></p>
                            </div>
                            <div class="cardBorder2" style="margin-top: 72px;"></div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p style="font-weight:initial; font-size: 20px;">Retail Price:</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p style="font-weight:initial; font-size: 20px;">{{item.price }}</p>
                            </div>
                        </div>
                        <div class="col-lg-12 d-flex justify-content-center">
                            <app-hollow-btn (click)="sendToAmazon(item.name)" class="d-flex justify-content-center" BtnText="Select!"></app-hollow-btn>

                        </div>
                    </div>
                </div>
            </div>

            
           
           
            <div class="col-5 d-flex justify-content-center mt-5 lightFont" style="font-size: 18px;">
                <p>These options will allow us to help you choose a storage device.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-5">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="d-flex justify-content-center" style="font-size: 40px;">Choose Your Storage!</div>
            <div class="contentRow mt-1"></div>

            <div *ngFor="let item of storageCall; let i = index" class="col-md-12 col-lg-4 col-sm-12 d-flex justify-content-around mt-5">
                <div id="question1card1" class="card cardColor2" style="min-width: 325px; width: 325px; height: 36rem; min-height: 36rem;">

                    <div class="card-body">
                        <h5 class="card-title cardTextCenter lightFont text-truncate" style="font-size:19px; max-width: 350px;">
                            {{item.name }}</h5>
                        <img src="../../.././assets/images/{{item.imagePath}}.png" class="card-img-top" style="height: 25%;" alt="">
                        <p class="card-text cardTextCenter mt-2" style="font-size: 18px;">
                            Specifications:</p>
                        <div class="row lightFont">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

                                <p>Disk Size:</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p> {{item.diskSize }}</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>RPM:</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p> {{item.rpm }}</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>Connection Type:</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p> {{item.connectionType }}</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>Interface:</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p> {{item.interface }}</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>Size:</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p> {{item.size }}</p>
                            </div>
                            <div class="cardBorder2"></div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p style="font-weight:initial; font-size: 20px;">Retail Price:</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p style="font-weight:initial; font-size: 20px;"> {{item.price }}</p>
                            </div>
                        </div>
                        <div class="col-lg-12 d-flex justify-content-center">
                            <app-hollow-btn (click)="sendToAmazon(item.name)" class="d-flex justify-content-center" BtnText="Select!"></app-hollow-btn>

                                <p>Memory Size:</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>8 GB</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>CUDA Cores:</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>5888</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>Boost Clock:</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>1.73 GHz</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>Memory Type:</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>GDDR6</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>Display Connectors:</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>HDMI 2.1, 3x DisplayPort 1.4a</p>
                            </div>
                            <div class="cardBorder2"></div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p style="font-weight:initial; font-size: 20px;">Price:</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p style="font-weight:initial; font-size: 20px;">$499.99</p>
                            </div>
                        </div>
                        <div class="col-lg-12 d-flex justify-content-center">
                            <app-hollow-btn (click)="toggleBorder('question3card2','question3card1','question3card3')" class="d-flex justify-content-center" BtnText="Select!"></app-hollow-btn>
                        </div>
                    </div>
                </div>
            </div>>
            
            <div class="col-5 d-flex justify-content-center mt-5 lightFont" style="font-size: 18px;">
                <p>These options will allow us to help you choose a storage device.
                </p>
            </div>
        </div>
    </div>
<div class="container-fluid mt-5">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="d-flex justify-content-center" style="font-size: 40px;">Choose Your Ram!</div>
            <div class="contentRow mt-1"></div>

            <div *ngFor="let item of ramCall; let i = index" class="col-md-12 col-lg-4 col-sm-12 d-flex justify-content-around mt-5">
                <div id="question1card1" class="card cardColor2" style="min-width: 325px; width: 325px; height: 36rem; min-height: 36rem;">

                    <div class="card-body">
                        <h5 class="card-title cardTextCenter lightFont text-truncate" style="font-size:19px; max-width: 350px;">
                            {{item.name }}</h5>
                        <img src="../../.././assets/images/{{item.imagePath}}.png" class="card-img-top" style="height: 25%;" alt="">
                        <p class="card-text cardTextCenter mt-2" style="font-size: 18px;">
                            Specifications:</p>
                        <div class="row lightFont">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>Capacity:</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>{{item.capacity }}</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>Stick Type:</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>{{item.stickType }}</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>Cell Type:</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>{{item.cellType }}</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>Clock Frequency:</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>{{item.clockFrequency }}</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p></p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p></p>
                            </div>
                            <div class="cardBorder2" style="margin-top: 47px;"></div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p style="font-weight:initial; font-size: 20px;">Retail Price:</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p style="font-weight:initial; font-size: 20px;">{{item.price }}</p>
                            </div>
                        </div>
                        <div class="col-lg-12 d-flex justify-content-center">
                            <app-hollow-btn (click)="sendToAmazon(item.name)" class="d-flex justify-content-center" BtnText="Select!"></app-hollow-btn>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-5 d-flex justify-content-center mt-5 lightFont" style="font-size: 18px;">
                <p>These options will allow us to help you choose a storage device.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-5">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="d-flex justify-content-center" style="font-size: 40px;">Choose Your Power Supply!</div>
            <div class="contentRow mt-1"></div>


            <div *ngFor="let item of psuCall; let i = index" class="col-md-12 col-lg-4 col-sm-12 d-flex justify-content-around mt-5">
                <div id="question1card1" class="card cardColor2" style="min-width: 325px; width: 325px; height: 36rem; min-height: 36rem;">

                    <div class="card-body">
                        <h5 class="card-title cardTextCenter lightFont text-truncate" style="font-size:19px; max-width: 350px;">
                           {{item.name }}</h5>
                        <img src="../../.././assets/images/{{item.imagePath}}.png" class="card-img-top" style="height: 25%;" alt="">
                        <p class="card-text cardTextCenter mt-2" style="font-size: 18px;">
                            Specifications:</p>
                        <div class="row lightFont">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>Efficiency:</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>{{item.efficiency }}</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>Power:</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>{{item.power }}</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>Main Connector:</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>{{item.mainConnectorType }}</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>Modular:</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>{{item.modular }}</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p></p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p></p>
                            </div>
                            <div class="cardBorder2"></div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p style="font-weight:initial; font-size: 20px;">Retail Price:</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p style="font-weight:initial; font-size: 20px;">{{item.price }}</p>
                            </div>
                        </div>
                        <div class="col-lg-12 d-flex justify-content-center">
                            <app-hollow-btn (click)="sendToAmazon(item.name)" class="d-flex justify-content-center" BtnText="Select!"></app-hollow-btn>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-5 d-flex justify-content-center mt-5 lightFont" style="font-size: 18px;">
                <p>These options will allow us to help you choose a storage device.
                </p>
            </div>
            <div class="container-fluid">
                <div class="row d-flex justify-content-center">
                    <div class="d-flex justify-content-center" style="font-size: 40px;">Now you can buy your parts!</div>
                    <div class="contentRow mt-1"></div>
                        <app-hollow-btn class="d-flex justify-content-center" style="margin-top: 50px; margin-bottom: 100px;" BtnText="Next Page" routerLink = "/shoppingcart"></app-hollow-btn>
                </div>
            </div>
        </div>
    </div>
</div>