<div class="contianer-fluid text-light container-overflow gamingBuildHeroBG MitirFont">
    <div class="row">
        <div class="col-lg-6 col-12 text-lg-end text-center">
            <h1 class="HeroTitle">Office Build</h1>
        </div>
    </div>
    <div class="row ">
        <!--Left Side-->
       <div class="col-12 col-lg-6">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="../../../assets/images/OfficeBuild.png" alt=""   class="Parts">
                </div>
            </div>
       </div>
       <!--Right Side-->
       <div class="col-lg-6 col-12">
        <div class="container">
            <div class="row HeroCard_Top py-2">
                <div class="col-6">
                    <h2>Quick <span class="Text-Orange">Specification</span></h2>
                </div>
                <div class="col-6 d-flex justify-content-end">
                    <app-hollow-btn BtnText="Buy Now!"></app-hollow-btn>
                </div>
            </div>
            <div class="row HeroCard_Bottom py-3">
                <div class="col-12">
                    <h3>
                        CPU : AMD Ryzen 7 1700 3 GHz 8-Core Processor
                    </h3>
                    <h3>
                        Motherboard : MSI X370 GAMING PRO CARBON ATX AM4 Motherboard
                    </h3>
                    <h3>
                        Memory : G.Skill Flare X 32 GB (2 x 16 GB) DDR4-2400 CL15 Memory
                    </h3>
                    <h3>
                        Case : Antec P100 ATX Mid Tower Case
                    </h3>
                    <h3>
                        Storage : Crucial MX300 275 GB M.2-2280 Solid State Drive
                    </h3>
                    <h3>
                        Power Supply : SeaSonic FOCUS Plus Gold 750 W 80+ Gold Certified Fully Modular ATX Power Supply
                    </h3>
                    <h3>
                        Video Card : PowerColor Radeon RX 480 8 GB Video Card
                    </h3>
                </div>
            </div>
        </div>
        <div class="container mt-4">
            <div class="row HeroCard_Top py-2">
                <div class="col-12">
                    <h2><span class="Text-Orange">Special</span> From Us!</h2>
                </div>
            </div>
            <div class="row HeroCard_Bottom py-2 mb-4">
                <div class="col-12">
                    <p>We offer an easy to follow, comprehensive guide to build this computer at home! Check it out <a class="Orange-link"  href="">here.</a></p>
                </div>
            </div>
        </div>
       </div>
       
    </div>
</div>
<div class="container-fluid text-light pt-4 MitirFont">
    
    <!--Part Description-->
    <app-parts-description OrderNum="" Title="CPU : AMD Ryzen 7 1700 3 GHz 8-Core Processor" Desc="Our CPU of choice for this home/office machine is the AMD Athlon 200GE. This processor has two cores, onboard graphics, and is aptly suited for all software in the Microsoft Office suite or the comparable open source offerings. The Athlon 200GE includes a stock cooler, so 3rd-party cooler is not necessary." Img="../../../assets/images/VideoEditingBuild/CPU.png"></app-parts-description>
    <app-parts-description OrderNum="1" Title="Motherboard : MSI X370 GAMING PRO CARBON ATX AM4 Motherboard" Desc="We're using a parametric selection of motherboards which will show the best priced motherboard based on our specifications. All of the motherboards feature the B450 chipset and an AM4 socket for compatibility with the Athlon 200GE. They also include 2 DIMM slots for up to 32GB of DDR4 RAM and are capable of using the CPU's integrated Radeon Vega 3 which is important for our office build as we will not be adding a dedicated graphics card." Img="../../../assets/images/VideoEditingBuild/Motherboard.png"></app-parts-description>
    <app-parts-description OrderNum="" Title="Memory : G.Skill Flare X 32 GB (2 x 16 GB) DDR4-2400 CL15 Memory" Desc="A parametric filter is being applied to choose the best priced 2x4GB kit of memory within AMD's recommended specifications. Ryzen scales well with memory frequency so we have upped the minimum speed to DDR4-2800." Img="../../../assets/images/VideoEditingBuild/Memory.png"></app-parts-description>
    <app-parts-description OrderNum="1" Title='Case : Antec P100 ATX Mid Tower Case' Desc="" Img="../../../assets/images/VideoEditingBuild/case.png"></app-parts-description>
    <app-parts-description OrderNum="" Title='Power Supply : Cooler Master MasterBox E300L MicroATX Mini Tower Case' Desc="fjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash d" Img="../../../assets/images/VideoEditingBuild/VideoCard.png"></app-parts-description>
    <app-parts-description OrderNum="1" Title='Storage : Crucial MX300 275 GB M.2-2280 Solid State Drive' Desc="We're also using parametric filters to select the best priced 480GB or larger solid state drive. Everyone's needs are different, so feel free to change out capacities to fit yours or swap to a high capacity hard drive if storage space is more important." Img="../../../assets/images/VideoEditingBuild/Storage.png"></app-parts-description>
    <app-parts-description OrderNum="" Title="Video Card : PowerColor Radeon RX 480 8 GB Video Card" Desc="fjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash d" Img="../../../assets/images/VideoEditingBuild/PowerSupply.png"></app-parts-description>
    <!--Part Description-->
</div>
<img src="../../../assets/images/GamingBuild/" alt="">