<div class="contianer-fluid text-light container-overflow gamingBuildHeroBG MitirFont">
    <div class="row">
        <div class="col-lg-6 col-12 text-lg-end text-center">
            <h1 class="HeroTitle">Office Build</h1>
        </div>
    </div>
    <div class="row ">
        <!--Left Side-->
       <div class="col-12 col-lg-6">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="../../../assets/images/OfficeBuild.png" alt=""   class="Parts">
                </div>
            </div>
       </div>
       <!--Right Side-->
       <div class="col-lg-6 col-12">
        <div class="container">
            <div class="row HeroCard_Top py-2">
                <div class="col-6">
                    <h2>Quick <span class="Text-Orange">Specification</span></h2>
                </div>
                <div class="col-6 d-flex justify-content-end">
                    <app-hollow-btn BtnText="Buy Now!"></app-hollow-btn>
                </div>
            </div>
            <div class="row HeroCard_Bottom py-3">
                <div class="col-12">
                    <h3>
                        CPU : AMD Athlon 200GE
                    </h3>
                    <h3>
                        Motherboard : ASRock B450M-HDV R4.0 Micro ATX AM4 Motherboard
                    </h3>
                    <h3>
                        Memory : Patriot Viper 4 8 GB (2 x 4 GB) DDR4-3000 CL16 Memory
                    </h3>
                    <h3>
                        Case : 	Cooler Master MasterWatt 550 W 80+ Bronze Certified Semi-modular ATX Power Supply
                    </h3>
                    <h3>
                        Storage : Acer SA100 480 GB 2.5" Solid State Drive
                    </h3>
                    <h3>
                        Power Supply : Cooler Master MasterBox E300L MicroATX Mini Tower Case
                    </h3>
                    <h3>
                        Optical Drive : Asus DRW-24B1ST/BLK/B/AS DVD/CD Writer
                    </h3>
                </div>
            </div>
        </div>
        <div class="container mt-4">
            <div class="row HeroCard_Top py-2">
                <div class="col-12">
                    <h2><span class="Text-Orange">Special</span> From Us!</h2>
                </div>
            </div>
            <div class="row HeroCard_Bottom py-2 mb-4">
                <div class="col-12">
                    <p>We offer an easy to follow, comprehensive guide to build this computer at home! Check it out <a class="Orange-link"  href="">here.</a></p>
                </div>
            </div>
        </div>
       </div>
       
    </div>
</div>
<div class="container-fluid text-light pt-4 MitirFont">
    <div class="row d-flex justify-content-center pb-5">
        <div class="col-auto text-center Combo_Title mb-4">
            <h2>The Best Combo of Power to Simplicity</h2>
        </div>
            <div class="col-12 text-center">
                <p class="px-5 text-margin">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            </div>
    </div>
    <!--Part Description-->
    <app-parts-description OrderNum="" Title="CPU : AMD Athlon 200GE" Desc="Our CPU of choice for this home/office machine is the AMD Athlon 200GE. This processor has two cores, onboard graphics, and is aptly suited for all software in the Microsoft Office suite or the comparable open source offerings. The Athlon 200GE includes a stock cooler, so 3rd-party cooler is not necessary." Img="../../../assets/images/VideoEditingBuild/CPU.jpg"></app-parts-description>
    <app-parts-description OrderNum="1" Title="Motherboard : ASRock B450M-HDV R4.0 Micro ATX AM4 Motherboard" Desc="We're using a parametric selection of motherboards which will show the best priced motherboard based on our specifications. All of the motherboards feature the B450 chipset and an AM4 socket for compatibility with the Athlon 200GE. They also include 2 DIMM slots for up to 32GB of DDR4 RAM and are capable of using the CPU's integrated Radeon Vega 3 which is important for our office build as we will not be adding a dedicated graphics card." Img="../../../assets/images/VideoEditingBuild/Motherboard.png"></app-parts-description>
    <app-parts-description OrderNum="" Title="Memory : Patriot Viper 4 8 GB (2 x 4 GB) DDR4-3000 CL16 Memory" Desc="A parametric filter is being applied to choose the best priced 2x4GB kit of memory within AMD's recommended specifications. Ryzen scales well with memory frequency so we have upped the minimum speed to DDR4-2800." Img="../../../assets/images/VideoEditingBuild/Memory.png"></app-parts-description>
    <app-parts-description OrderNum="1" Title='Case : Cooler Master MasterWatt 550 W 80+ Bronze Certified Semi-modular ATX Power Supply' Desc="" Img="../../../assets/images/VideoEditingBuild/case.png"></app-parts-description>
    <app-parts-description OrderNum="" Title='Power Supply : Cooler Master MasterBox E300L MicroATX Mini Tower Case' Desc="fjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash d" Img="../../../assets/images/VideoEditingBuild/VideoCard.png"></app-parts-description>
    <app-parts-description OrderNum="1" Title='Storage : Acer SA100 480 GB 2.5" Solid State Drive' Desc="We're also using parametric filters to select the best priced 480GB or larger solid state drive. Everyone's needs are different, so feel free to change out capacities to fit yours or swap to a high capacity hard drive if storage space is more important." Img="../../../assets/images/VideoEditingBuild/Storage.png"></app-parts-description>
    <app-parts-description OrderNum="" Title="Optical Drive : Asus DRW-24B1ST/BLK/B/AS DVD/CD Writer" Desc="fjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash djhsdfhkjsdf dsjfklj sdf sdhgjsdhfkjsd fkj askfjkalsjglks dfash d" Img="../../../assets/images/VideoEditingBuild/PowerSupply.png"></app-parts-description>
    <!--Part Description-->
</div>
<img src="../../../assets/images/GamingBuild/" alt="">